[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
fastapi = "*"
scipy = "*"
jinja2 = "*"
uvicorn = "*"
aiofiles = "*"
sqlalchemy = "*"
matplotlib = "*"
starlette = "*"
async-exit-stack = "*"
async-generator = "*"
python-multipart = "*"
requests = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-hoverxref = "*"

[requires]
python_version = "3.6"

[scripts]
simulation_API = "python run.py"
s_autodoc = "sphinx-apidoc -o ./source ../simulation_API"
s_autodoc_force = "sphinx-apidoc -f -o ./source ../simulation_API"

[pipenv]
allow_prereleases = true
