{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Welcome to <span class="blue">P</span><span class="red">H</span><span class="yellow">Y</span><span class="green">S</span> <span class="red">Simulation</span>!</h1>
    
    <br>

    <table class="table">
        <body>
            <tr>
                <td> <a class="btn btn-primary" href={{route_simulate}}>Request Simulation</a> </td>
                <td> <a class="btn btn-primary" href={{route_results}}>See Results Online</a> </td>
            </tr>
        </body>
    </table>
{% endblock %}
