{% extends "layout.html" %}

{% block title %}
    Simulation Form
{% endblock %}

{% block main %}
    <h2 style="color: #537fbe">Please Submit the Following Form</h2>
    

    <form action="/simulate/{{ sim_system }}" method="POST" id="sim_request">
        
        
        {% if error_message %}
            <div style="color:red">Error: {{error_message}}</div><br>
        {% endif %}



        Use only alphanumeric characters (a-z, A-Z, 0-9 and . )<br><br>

        <h4 style="color: #537fbe">System</h4> <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="sim_sys" type="text" value={{sim_system}} readonly="readonly">
        </div>


        <br><h4 style="color: #537fbe">Username</h4> <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required pattern="[a-zA-Z0-9]+">
        </div>
        

        <br><h4 style="color: #537fbe">Time span (t0 < tf &nbsp&nbsp and &nbsp&nbsp  dt < tf - t0)</h4><br>
        <div class="form-group">
            Initial Time (t0)<br><input autocomplete="off" autofocus class="form-control" name="t0" placeholder="Initial Time (t0)" type="number" step="any" value={{t0}}>
        </div>
        <div class="form-group">
            Final Time (tf)<br><input autocomplete="off" autofocus class="form-control" name="tf" placeholder="Final Time (tf)" type="number" step="any" value={{tf}}>
        </div>
        <div class="form-group">
            Time Step (dt)<br><input autocomplete="off" autofocus class="form-control" name="dt" placeholder="Time Step (dt)" type="number" step="any" value={{dt}} min=1e-12>
        </div>

        
        {% if sim_system=="Harmonic-Oscillator" %}
            
            <br><h4 style="color: #537fbe">Initial condition</h4><br>
            <div class="form-group">
                Initial Position (q0)<br><input autocomplete="off" autofocus class="form-control" name="ini0" placeholder="Initial Position (q0)" type="number" step="any" value={{ini0}}>
            </div>
            <div class="form-group">
                Initial Momentum (p0)<br><input autocomplete="off" autofocus class="form-control" name="ini1" placeholder="Initial Momentum (p0)" type="number" step="any" value={{ini1}}>
            </div>


            <br><h4 style="color: #537fbe">Parameters</h4><br>
            <div class="form-group">
                Mass (m > 0)<br><input autocomplete="off" autofocus class="form-control" name="param0" placeholder="Mass (m)" type="number" step="any" value={{param0}} min=1E-12>
            </div>
            <div class="form-group">
                Force Constant (k > 0)<br><input autocomplete="off" autofocus class="form-control" name="param1" placeholder="Force Constant (k)" type="number" step="any" value={{param1}} min=1E-12>
            </div>
        
        {% elif sim_system=="Chen-Lee-Attractor" %}

            <br><h4 style="color: #537fbe">Initial condition</h4><br>
            <div class="form-group">
                Wx0<br><input autocomplete="off" autofocus class="form-control" name="ini0" placeholder="Initial Position (Wx0)" type="number" step="any" value={{ini0}}>
            </div>
            <div class="form-group">
                Wy0<br><input autocomplete="off" autofocus class="form-control" name="ini1" placeholder="Initial Position (Wy0)" type="number" step="any" value={{ini1}}>
            </div>
            <div class="form-group">
                Wz0<br><input autocomplete="off" autofocus class="form-control" name="ini2" placeholder="Initial Position (Wz0)" type="number" step="any" value={{ini2}}>
            </div>


            <br><h4 style="color: #537fbe">Parameters</h4><br>
            <div class="form-group">
                Parameter a<br><input autocomplete="off" autofocus class="form-control" name="param0" placeholder="Parameter (a)" type="number" step="any" value={{param0}}>
            </div>
            <div class="form-group">
                Parameter b<br><input autocomplete="off" autofocus class="form-control" name="param1" placeholder="Parameter (b)" type="number" step="any" value={{param1}}>
            </div>
            <div class="form-group">
                Parameter c<br><input autocomplete="off" autofocus class="form-control" name="param2" placeholder="Parameter (c)" type="number" step="any" value={{param2}}>
            </div>
        
        {% endif %}


        <br><h4 style="color: #537fbe">Integration Method</h4><br>
        <div class="form-group">
            <select autofocus class="form-control" name="method">
                {% for method in integration_methods.items() %}
                    <option value={{method[0]}}>{{method[1]}}</option>
                {% endfor %}
            </select>
        </div>
        

        <br><br>

        
        <button class="btn btn-primary" type="submit">Request Simulation</button>
    </form>
{% endblock %}
