{% extends "layout.html" %}

{% block title %}
	{{"Simulation Status" if status else "Simulation ID"}}
{% endblock %}

{% block main %}

    <h2>{{ "Simulation Status" if status else "Your simulation was successfully requested!" }}</h2>
    
    <br>

    <p style="color: #537fbe">{{"" if status else "Please check your simulation status when available."}}</p>
    {%if not status%}
        <p style="color: #f5b82e;">Note that the simulation might take several seconds to complete.<br>This means simulation status may not be available immediatly.</p>
    {% endif %}

    {% if status and not_finished %}
        <h4 style="color: #f5b82e">
            The simulation with id <span style="color: #537fbe">{{sim_id}}</span><br>
            is not yet available. If the id is OK, either the simulation hasn't finished or there was <br>
            an internal server error. Please come back later (or refresh the website) and check.
        </h4> 
    {% else %}
        <br>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td >Simulation ID</td>
                <td >{{sim_id}}</td>
            </tr>
            {% if not status %}
                <tr>
                    <td >Simulation Status</td>
                    <td ><a  class="btn btn-primary" href="{{sim_status_url}}">Check</a></td>
                </tr>
            {% endif %}
            {% if status %}
                <!-- adfa -->
                <tr>
                    <td >Success</td>
                    {% set color = '#2e944b' if success else '#ea433b'%}
                    <!-- FIXME FIXME FIXME Next line -->
                    <td style="color: {{color}}"><b>{{"True" if success else "False"}}</b></td>
                </tr>
                {% if not success %}
                    <tr>
                        <td>Message</td>
                        <td>{{message}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td >System</td>
                    <td >{{system}}</td>
                </tr>
                <tr>
                    <td >Date of request</td>
                    <td >{{date[:-7]}}</td>
                </tr>
                <tr>
                    <td >Username</td>
                    <td >{{username}}</td>
                </tr>
                <tr>
                    <td >User ID</td>
                    <td >{{user_id}}</td>
                </tr>
                <tr>
                    <td >Initial Condition</td>
                    <td >{{ini_cndtn}}</td>
                </tr>
                <tr>
                    <td >Parameters</td>
                    <td >{{params}}</td>
                </tr>
                <tr>
                    <td >Integration Method</td>
                    <td >{{method}}</td>
                </tr>
                {% if success %}
                    <tr>
                        <td >Pickle</td>
                        <td ><a class="btn btn-primary" href={{route_pickle}}>Download</a></td>
                    </tr>
                    {% for route_plot in path_plots%}
                    <tr>
                        <td >Plot {{loop.index}}</td>
                        <td ><a class="btn btn-primary" href={{route_plot}}>Download</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td >Results Summary</td>
                        <td ><a class="btn btn-primary" href="/results/{{system}}/{{sim_id}}">See Online</a></td>
                    </tr>
                {% endif %}
            {% endif %}
            </tbody>
        </table>
    {% endif %}    
{% endblock %}
